<script setup lang="ts">
import HomeView from './views/HomeView.vue';
import ChatView from './views/ChatView.vue';
import AddressBoxView from './views/AddressBoxView.vue';
</script>

<template>
  <HomeView/>
  <ChatView/>
  <AddressBoxView/>
</template>

<style scoped></style>
